@page "/properties"
@page "/properties/{page:int}"   
@using Application.DTOs
@inject NavigationManager Navigation
@inject IPropertyService _propertyService

<div class="property-list">
    @if (PagedProperties is null || !PagedProperties.Any())
    {
        <p>No properties found.</p>
    }
    else
    {
        if (page==1)
        {
            <h2>Properties</h2>
        }
        else
        {
            <h2>(Showing @((_currentPage - 1) * _pageSize + 1)-@(Math.Min(_currentPage * _pageSize, properties?.Count ?? 0)) of @(properties?.Count ?? 0))</h2>
        }
        <div class="cards">
            @foreach (var property in PagedProperties)
            {
                <PropertyCard Property="property" />
            }
        </div>
    }
</div>
<div class="pagination">
    <button @onclick="PreviousPage" disabled="@(_currentPage <= 1)">Previous</button> <!--Previous page button is disabled if I'm on page 1-->
    <span>@_currentPage of @_totalPages</span>
    <button @onclick="NextPage" disabled="@(_currentPage >= _totalPages)">Next</button> <!--Next page button is disabled if I'm on last page-->
</div>

@code {
    [Parameter]
    public int page { get; set; } = 1; // from URL
    private List<PropertyListDTO>? properties;
    private IEnumerable<PropertyListDTO> PagedProperties = Enumerable.Empty<PropertyListDTO>();
    private int _currentPage = 1;
    private int _pageSize = 9;  
    private int _totalPages = 1;
    protected override async Task OnInitializedAsync() //blazor lifecycle type: runs once when component is created
    {
        if (page >= 1 && page <= _totalPages)
        {
            _currentPage = page;
        }
        else if (page < 1)
        {
            _currentPage = 1;
            Navigation.NavigateTo("/properties/1", replace: true);
            return;
        }
        else
        {
            _currentPage = _totalPages;
            Navigation.NavigateTo($"/properties/{_totalPages}", replace: true);
            return;
        }
        properties = await _propertyService.GetCustomerPropertyList();
        _totalPages = (int)Math.Ceiling((double)properties.Count / _pageSize); //divides property cards on each page
        UpdatePagedProperties();
    }
    private void UpdatePagedProperties()
    {
        PagedProperties = properties
            .Skip((_currentPage - 1) * _pageSize) 
            .Take(_pageSize); //to skip 6 (or multiple of 6) before current page and show the next 6
    }
    private void PreviousPage()
    {
        if (_currentPage > 1)
        {
            _currentPage--;
            NavigateToPage(_currentPage);
        }
    }
    private void NextPage()
    {
        if (_currentPage < _totalPages)
        {
            _currentPage++;
            NavigateToPage(_currentPage);
        }
    }
    private void NavigateToPage(int page)
    {
        Navigation.NavigateTo($"/properties/{page}");
    }

} 









