@page "/admin/compounds"
@inject CompoundService _compoundService
@using Domain.Entities
@using Infrastructure.Persistence
@using Application.Services
@using Microsoft.AspNetCore.Authorization
@using System.Reflection

@attribute [Authorize(Roles = "Admin")]

<PageTitle>Compounds</PageTitle>

<AuthorizeView>
    <table class="table table-striped">
        <thead>
            <tr>
                <th colspan="@(typeof(Compound).GetProperties().Length)">
                    <strong>Compounds</strong>
                </th>
            </tr>
            <tr>
                <button class="adminAddButton"><NavLink href="@("/admin/addCompound")">Add Compound</NavLink></button>
            </tr>
            <tr>
                @foreach (PropertyInfo comp in typeof(Compound).GetProperties())
                {
                    <th>@comp.Name</th>
                }
            </tr>
        </thead>
        <tbody>
            @if (compounds != null)
            {
                @foreach (var compound in compounds)
                {
                    <tr>
                        @foreach (PropertyInfo comp in typeof(Compound).GetProperties())
                        {
                            <td>@comp.GetValue(compound)</td>
                            <td><button class="adminButton"><NavLink href="@($"/admin/editCompound/{compound.CompoundId}")">Edit</NavLink></button></td>
                            <td><button class="adminButton" onclick="@_compoundService.DeleteCompoundAsync(compound.CompoundId)">">Remove</button></td>
                        }
                    </tr>
                }
            }
        </tbody>
    </table>
</AuthorizeView>


@code {
    private List<Compound>? compounds;
    protected override async void OnInitialized()
    {
        compounds = await _compoundService.GetAllCompoundsAsync();
    }

}
